[DEFAULT]
SMTP_PORT                 = 587                                                                      # SMTP port, defaulted to 587
SMTP_SERVER               = "smtp.mailgun.com"                                                       # SMTP server, defaulted to GMail
SMTP_PROTO                = "tls"                                                                    # SMTP protocol: {ssl, tls, None (leave empty)}
SMTP_EMAIL                = ""                                                                       # Provide authenticating email address here
SMTP_PASSWORD             = ""                                                                       # Provide authenticating password here

[EMAIL]
SQUAREPHISH_SERVER        = ""                                                                       # Required: Provide IP address/domain name of hosted SquarePhish server
SQUAREPHISH_PORT          = 8443                                                                     # Hosted SquarePhish server port, defaulted to 8443 (this should match the below server value)
SQUAREPHISH_ENDPOINT      = "/auth"                                                                   # Hosted SquarePhish endpoint to trigger OAuth Device Code flow, defaulted to an MFA pretext (this should match the below server value)
FROM_EMAIL                = "admin@square.phish"                                                     # Default FROM address when sending an email
SUBJECT                   = "ACTION REQUIRED: Multi-Factor Authentication (MFA) Update"              # Default SUBJECT when sending an email, defauled to an MFA pretext
EMAIL_TEMPLATE            = "pretexts/mfa/qrcode_email.html"                                         # Email body template for QR code email to victim

[SERVER]
PORT                      = 8443
FROM_EMAIL                = "admin@square.phish"                                                     # Default FROM address when sending an email
SUBJECT                   = "ACTION REQUIRED: Multi-Factor Authentication (MFA) Update"              # Default SUBJECT when sending an email, defauled to an MFA pretext
CLIENT_ID                 = "4813382a-8fa7-425e-ab75-3b753aab3abb"                                   # Authenticating client ID, defaulted to Microsoft Authenticator App
ENDPOINT                  = "/mfa"                                                                   # Hosted endpoint to trigger OAuth Device Code flow, defaulted to an MFA pretext
CERT_CRT                  = ""                                                                       # Server SSL certificate .crt file
CERT_KEY                  = ""                                                                       # Server SSL certificate .key file
EMAIL_TEMPLATE            = "pretexts/mfa/devicecode_email.html"                                     # Email body template for device code email to victim
PERMISSION_SCOPE          = ".default offline_access profile openid"                                 # OAuth permission scope - https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent

[HEADERS]
VARY                      = "Accept-Encoding"
SERVER                    = "Microsoft-IIS/10.0"
CONTENT_TYPE              = "text/html; charset=utf-8"
X_FRAME_OPTIONS           = "SAMEORIGIN"
X_UA_COMPATIBLE           = "IE=Edge;chrome=1"
X_XSS_PROTECTION          = "1; mode=block"
X_CONTENT_TYPE_OPTIONS    = "nosniff"
STRICT_TRANSPORT_SECURITY = "max_age=31536000"
REFERRER_POLICY           = "no-referrer"
